* {
    box-sizing: border-box;
}

body {
    margin: 1px;
    padding: 0;
    background-image: url(../DI\ 001-640x480.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 41em;
}

.container {
    margin-left: 26.5%;
    width: 41em;
    height: 41em;
}

div {
    width: 8%;
    height: 8%;
    border-radius: 50%;
    /* margin: .2%; */

}

.white {
    background: rgb(216, 166, 2);
    margin-right: 5%;
}

.black {
    background: #000;
    margin-right: 5%;
}

.A {
    float: left;
    margin-left: 5%;
}

.top-1 {
    margin-top: 3.7%;
}

.B {
    float: left;
    margin-left: 16%;
}

.top-2 {
    margin-top: 3%;
}

.C{
    float: left;
    margin-left: 10%;
}

.top-3 {
    margin-top: 26%;
}

.D {
    float: left;
    margin-left: 10%;
}

.top-4 {
    margin-top: 1%;
}

.E {
    float: left;
    margin-left: 9%;
}

.top-5 {
    margin-top: 1%;
}

.F {
    float: left;
    margin-left: 9%;
}

.top-6 {
    margin-top: 3%;
}

.G {
    float: left;
    margin-left: 9.5%;
}

.top-7 {
    margin-top: 4%;
}
.H {
    float: left;
    margin-left: 10%;
}

.top-8 {
    margin-top: 6%;
}